<p id="notice"><%= notice %></p>
<div class="center jumbtron">
<h1>ブレインストーミング補助ツール</h1>

<table>
  <tbody>

      <%= form_tag('search', :method => :get) do %>
      	<div class="input-group">
      		<input type="text" name="keyword" placeholder="検索したい語句を入力" class="form-control">
      		<span class="input-group-btn">
      			<button type="submit" class="btn btn-info">検索</button>
      		</span>
      	</div>
      <% end %>
  </tbody>
</table>
</div>
<br>
