<p id="notice"><%= notice %></p>

<p>
    <% if @category != nil %>
        <strong>Name:</strong>
        <%= @category.name %>
    <% else %>
        <strong>No Object </strong>
    <% end %>
</p>
<% if @category != nil %>
    <%= link_to 'Edit', edit_category_path(@category) %> |
<% end %>
<%= link_to 'Back', categories_path %>
